* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carter One", system-ui;
}

.cloud {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(61deg, rgba(28, 28, 29, 0.368) 0%, rgba(1, 1, 1, 0.264) 100%), url(hero1png.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}

.car {
    width: 400px;
    left: 30%;
    bottom: 210px;
    transform: translate(-50%);
    position: absolute;
    animation-name: car;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.car img {
    width: 100%;

}

@keyframes car {
    0% {
        transform: translate(80px);
    }

    100% {
        transform: translate(-80px);
    }
}

.box {
    display: flex;
    width: 70%;
    margin-top: 9cm;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: -60px;
    top: -3cm;
    left: 6cm;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(28, 28, 29, 0.368) 0%, rgba(1, 1, 1, 0.264) 100%);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    border-radius: 20px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: rgb(225, 255, 255);
    color: #000;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.card .info .btn:hover {
    color:rgb(225, 255, 255); ;
    background-color: blue;
    box-shadow: 2px 9px 12px rgba(0, 0, 0, 0.5);
}

.icon i {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #000;
    margin-top: -6cm;
    color: #c0bfbf;
    font-size: 30px;
}

.icon i:hover {
    color: black;

}

.icon .fa-chevron-left {
    position: absolute;
    left: 200px;
}

.icon .fa-chevron-right {
    position: absolute;
    right: 165px;
}